## **Read the data and visualize its general structure**

In [2]:
import pandas as pd
import torch

data_frame=pd.read_csv("titanic.csv")
data_frame.info()
data_frame.head()
"""
we consider 'Survived' feature as our target feature
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

## **Remove non significant columns and rows with missing cells**

In [3]:
data_frame=data_frame.drop(columns=['PassengerId','Ticket','Cabin','Name']) #remove insignificant column
data_frame=data_frame.dropna() #remove rows with empty cells
data_frame.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

## **Encode String columns with numbers (Label encoding)**

In [4]:
from sklearn import preprocessing as pprocess

le=pprocess.LabelEncoder() #encoder object

le.fit(data_frame['Sex'].unique()) #result ==> 0: female | 1: male
Sex_encoded=le.transform(data_frame['Sex'].values)

le.fit(data_frame['Embarked'].unique()) #result ==> 0: C | 1: Q |2: S
Embarked_encoded=le.transform(data_frame['Embarked'].values)

data_frame=data_frame.drop(columns=['Sex','Embarked']) #remove old columns
data_frame['Sex'],data_frame['Embarked']=Sex_encoded, Embarked_encoded #place encoded ones
data_frame.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex  Embarked
0         0       3  22.0      1      0   7.2500    1         2
1         1       1  38.0      1      0  71.2833    0         0
2         1       3  26.0      0      0   7.9250    0         2
3         1       1  35.0      1      0  53.1000    0         2
4         0       3  35.0      0      0   8.0500    1         2

## **Split the dataset into training and test data (ratio: 80%/20%)**

In [5]:
from sklearn.model_selection import train_test_split

train,test= train_test_split(data_frame, test_size=0.2, stratify=data_frame['Survived'])
#stratify=data_frame['Survived'] means that the proportion of survivors will be the same in train set and test set

## **Good practice: make the data overwrite Pytorch Dataset class to simplify some operations**

In [6]:
from torch.utils.data import Dataset

class Titanic_train_dataset(Dataset): #All datasets that represent a map from keys to data samples should inherit from Dataset Class
    def __init__(self, train):
        self.train=train
        self.inputs=train.iloc[:,1:].values
        self.outputs=train.iloc[:,0].values #we consider 'Survived' as output

    def __len__(self):
          return len(self.inputs)

    def __getitem__(self, idx): #we must overwrite it
        return {'input': torch.tensor(self.inputs[idx]), 
                'output': torch.tensor(self.outputs[idx])
                } #return in tensor form to feed the network model

train= Titanic_train_dataset(train)

## **Separate the data into batches**

In [8]:
from torch.utils.data import DataLoader

BATCH_SIZE=16
batched_train=DataLoader(dataset = train, batch_size = BATCH_SIZE, shuffle =False) #automatically separate training data into batches

## **Neural network structure**

In [54]:
import torch.nn as nn
#import torch.nn.functional as F

class Network(nn.Module): 
      def __init__(self):
          # we define the network layer by layer
          # almost all Linear layers take as parameters: input size (nuumer of neurons on previous layer), output size (number of neurons on next layer)
        super().__init__()

        self.fc1=nn.Linear(7, 16) # Linear layers do W*X+b
        self.bn1=nn.BatchNorm1d(16)  #apparently, it speeds the training
        self.relu1=nn.ReLU() #activation function

        self.fc2=nn.Linear(16,8)
        self.bn2=nn.BatchNorm1d(8)
        self.relu2=nn.ReLU()

        self.fc3=nn.Linear(8,4)
        self.bn3=nn.BatchNorm1d(4)
        self.relu3=nn.ReLU()

        self.fc4=nn.Linear(4,1)
        self.sigmoid=nn.Sigmoid() #to give us a probability of having survived
  
      def forward(self,x): #forwarding the data from input layer to output layer
        x=self.fc1(x)
        x=self.bn1(x)
        x=self.relu1(x)

        x=self.fc2(x)
        x=self.bn2(x)
        x=self.relu2(x)

        x=self.fc3(x)
        x=self.bn3(x)
        x=self.relu3(x)

        x=self.fc4(x)
        x=self.sigmoid(x)

        return x

model=Network()

## **Defining one iteration of the training process**

In [55]:
def train(model, x, y, optimizer, criterion):

    model.zero_grad() # initialize the gradients to 0

    x=x.to(torch.float32) # needed format
    output = model(x) # forward propagation (outputs probability of having survived)

    output=output.reshape(-1) #to make the output shape go from [dim_x,1] to [dim_x]...To avoid an error relative to dimension in next step
    output=output.to(torch.float32)
    y=y.to(torch.float32)

    loss= criterion(output,y) # calculating the loss value
    loss.backward() # backward propagation to calculate gradients
    
    optimizer.step() # update parameters with gradients
    
    return loss, output

## **Defining hyperparameters and loss function method**

In [56]:
from torch.optim import Adam #The choice of optimizer algorithm is empirical (Adam works well here)

criterion = nn.MSELoss() #create object that has loss function method
EPOCHS = 200 #number of iterations
optm = Adam(model.parameters(), lr = 0.001) #optimization_method(model_parameters, learning_rate)

## **Optionnal: trying to use the GPU**

In [57]:
if torch.cuda.is_available():
    device = torch.device("cuda:0")
    print("Cuda Device Available")
    print("Name of the Cuda Device: ", torch.cuda.get_device_name())
    print("GPU Computational Capablity: ", torch.cuda.get_device_capability())

Cuda Device Available
Name of the Cuda Device:  Tesla T4
GPU Computational Capablity:  (7, 5)

## **Launch the training process**

In [58]:
for epoch in range(EPOCHS):
    epoch_loss=0
    for batch in batched_train: #feed the network with all the batches during one epoch
        x,y= batch['input'],batch['output'] #get the current batch
        x,y= x.to(device),y.to(device) # move it to current device (gpu if available)
        model.to(device) #move the model to device
        loss, prediction= train(model ,x ,y ,optm , criterion)
        epoch_loss+= loss
    print("loss: ",loss.item())

loss:  0.26513558626174927
loss:  0.25787508487701416
loss:  0.2427477389574051
loss:  0.23950304090976715
loss:  0.23775076866149902
loss:  0.23063193261623383
loss:  0.2331971675157547
loss:  0.2277664691209793
loss:  0.22687676548957825
loss:  0.2280125617980957
loss:  0.22061045467853546
loss:  0.21470659971237183
loss:  0.21055357158184052
loss:  0.20841526985168457
loss:  0.20767368376255035
loss:  0.22008968889713287
loss:  0.20880325138568878
loss:  0.22980369627475739
loss:  0.22274358570575714
loss:  0.21794311702251434
loss:  0.22299793362617493
loss:  0.21635156869888306
loss:  0.21516045928001404
loss:  0.20748241245746613
loss:  0.211456298828125
loss:  0.2109559178352356
loss:  0.20875197649002075
loss:  0.2067839652299881
loss:  0.2244202345609665
loss:  0.20307739078998566
loss:  0.24503786861896515
loss:  0.21692419052124023
loss:  0.21669520437717438
loss:  0.23795635998249054
loss:  0.19991528987884521
loss:  0.2166547030210495
loss:  0.21252135932445526
loss:  0.20380033552646637
loss:  0.21153923869132996
loss:  0.1970975399017334
loss:  0.1830485314130783
loss:  0.18607906997203827
loss:  0.180768683552742
loss:  0.17106421291828156
loss:  0.1618151217699051
loss:  0.17227661609649658
loss:  0.15993428230285645
loss:  0.15495292842388153
loss:  0.16496658325195312
loss:  0.15048204362392426
loss:  0.1379871368408203
loss:  0.14126820862293243
loss:  0.13617466390132904
loss:  0.1397075653076172
loss:  0.14645083248615265
loss:  0.14711037278175354
loss:  0.1417442411184311
loss:  0.13154466450214386
loss:  0.13095098733901978
loss:  0.12840788066387177
loss:  0.12648284435272217
loss:  0.13050641119480133
loss:  0.1282181292772293
loss:  0.15510399639606476
loss:  0.11892613023519516
loss:  0.12285111844539642
loss:  0.12442288547754288
loss:  0.12634889781475067
loss:  0.12306947261095047
loss:  0.1259513646364212
loss:  0.12147720903158188
loss:  0.12793274223804474
loss:  0.15087687969207764
loss:  0.1487947553396225
loss:  0.15002472698688507
loss:  0.13337866961956024
loss:  0.10744401812553406
loss:  0.1508270502090454
loss:  0.11948653310537338
loss:  0.10274306684732437
loss:  0.11557573825120926
loss:  0.11267537623643875
loss:  0.10107318311929703
loss:  0.0976775661110878
loss:  0.09977163374423981
loss:  0.09783245623111725
loss:  0.10232898592948914
loss:  0.09692461043596268
loss:  0.13240428268909454
loss:  0.11496255546808243
loss:  0.10339951515197754
loss:  0.08884726464748383
loss:  0.08770751953125
loss:  0.10337110608816147
loss:  0.09542349725961685
loss:  0.08995310217142105
loss:  0.14819592237472534
loss:  0.09717730432748795
loss:  0.09666002541780472
loss:  0.1051977127790451
loss:  0.09324292838573456
loss:  0.08639100939035416
loss:  0.10163090378046036
loss:  0.09008433669805527
loss:  0.10650794953107834
loss:  0.10500413924455643
loss:  0.08623776584863663
loss:  0.08688459545373917
loss:  0.10161241888999939
loss:  0.08213555067777634
loss:  0.10902396589517593
loss:  0.10217968374490738
loss:  0.1175161749124527
loss:  0.0863182321190834
loss:  0.07055426388978958
loss:  0.11261513829231262
loss:  0.0740051418542862
loss:  0.09886471182107925
loss:  0.07708696275949478
loss:  0.06407086551189423
loss:  0.10313013941049576
loss:  0.07533379644155502
loss:  0.08204255998134613
loss:  0.0924740806221962
loss:  0.07318460196256638
loss:  0.07461363822221756
loss:  0.09878505766391754
loss:  0.08107482641935349
loss:  0.05954428017139435
loss:  0.08965996652841568
loss:  0.07765523344278336
loss:  0.08890232443809509
loss:  0.08004211634397507
loss:  0.06716859340667725
loss:  0.08666134625673294
loss:  0.09122063219547272
loss:  0.09193786233663559
loss:  0.06373031437397003
loss:  0.07235387712717056
loss:  0.11751973628997803
loss:  0.07864753156900406
loss:  0.15357176959514618
loss:  0.0727599710226059
loss:  0.09097281843423843
loss:  0.10090066492557526
loss:  0.08938933163881302
loss:  0.07468876987695694
loss:  0.07369718700647354
loss:  0.07610855251550674
loss:  0.12775687873363495
loss:  0.07240820676088333
loss:  0.0674520879983902
loss:  0.08813773095607758
loss:  0.06323549896478653
loss:  0.0742587000131607
loss:  0.06411301344633102
loss:  0.05654134973883629
loss:  0.06972949951887131
loss:  0.07738343626260757
loss:  0.054721079766750336
loss:  0.06296923756599426
loss:  0.07326414436101913
loss:  0.05598462373018265
loss:  0.06068338826298714
loss:  0.04651155322790146
loss:  0.06413532793521881
loss:  0.07845842093229294
loss:  0.06479710340499878
loss:  0.060032058507204056
loss:  0.0614304356276989
loss:  0.05315052345395088
loss:  0.05417459458112717
loss:  0.05143111199140549
loss:  0.04194709286093712
loss:  0.06991375237703323
loss:  0.052951473742723465
loss:  0.05154268443584442
loss:  0.05871373414993286
loss:  0.0894380584359169
loss:  0.05663863196969032
loss:  0.05391651391983032
loss:  0.08172518759965897
loss:  0.05200767144560814
loss:  0.1230948269367218
loss:  0.05528143048286438
loss:  0.041635408997535706
loss:  0.06944310665130615
loss:  0.05546148493885994
loss:  0.05012601986527443
loss:  0.05055655911564827
loss:  0.049216244369745255
loss:  0.07512488216161728
loss:  0.03909040987491608
loss:  0.04651056230068207
loss:  0.06610830873250961
loss:  0.08170343190431595
loss:  0.06298767775297165
loss:  0.05321464315056801
loss:  0.09781277179718018
loss:  0.04673842713236809

## **Model Evaluation**

In [83]:
from sklearn.metrics import classification_report as cr
import numpy as np

x_test, y_test = test.iloc[:,1:].values, test.iloc[:,0].values #extract test data values (without index)
x_test, y_test = torch.tensor(x_test,dtype=torch.float32), torch.tensor(y_test,dtype=torch.float32) #convert to float32 tensor
x_test, y_test = x_test.to(device), y_test.to(device) #move to specified device (gpu here)

y_pred=model(x_test) #make prediction

#optionnal: moving to cpu after the prediction to avoid errors while calling only-cpu functions (classification_report)
y_pred=y_pred.cpu()
y_test=y_test.cpu()

#convert tensor to numpy
y_pred=y_pred.detach().numpy().reshape(-1)
y_test=y_test.detach().numpy()

y_pred=np.where(y_pred<0.5, 0, 1)

print(cr(y_true=y_test, y_pred=y_pred))

              precision    recall  f1-score   support

         0.0       0.82      0.88      0.85        85
         1.0       0.81      0.72      0.76        58

    accuracy                           0.82       143
   macro avg       0.82      0.80      0.81       143
weighted avg       0.82      0.82      0.82       143